h1,
h2,
h3,
h4,
h5,
h6,
p,
ul, li, a, p, span {
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'DM Sans', 'Titan One', sans-serif;
    font-size: 12px;
    }
.container {
    max-width: 280px; // nie powinna być maksymalna szerokość jak w desktopie? - Mateusz Ch.
    margin: 0 auto;
}
.item {list-style: none;}
.link {text-decoration: none;} // skoro mamy text decoration none w globalnym to czy wciąż potrzebujemy tego? Mateusz Ch.