@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0px;
}

.section {
  padding-top: 125px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0px auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-widht: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.about {
  background-color: #FFF5F6;
  background-image: url(../images/1200/sectionbg1-1280x534-1200.png);
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: 50% 50%;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
}
.about__title {
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #D41443;
}
.about__title--smaller {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #D41443;
}
.about__slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about__slider ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about__text {
  font-family: "DM Sans";
  font-weight: 500;
  line-height: 176%;
  margin-bottom: 35px;
}
.about__text--color {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 194%;
  color: #907E82;
  margin-bottom: 45px;
}
.about__btn {
  background-color: white;
  font-family: "DM Sans";
  font-weight: 700;
  line-height: 21px;
  color: #D41443;
  border-radius: 22px;
  border: none;
  width: 174px;
  height: 44px;
}
.about__btn:hover {
  background-color: #ecebeb;
}
.about__list {
  display: flex;
  flex-direction: row;
}
.about__numbers {
  font-family: "Titan One";
  font-size: 58px;
  line-height: 66px;
  text-transform: uppercase;
  color: #D41443;
}
.about__body {
  font-family: "DM Sans";
  font-weight: 700;
  line-height: 176%;
  letter-spacing: 0.02em;
}

.gallery {
  background-position: center;
  background-size: cover;
  max-width: 100%;
  background-repeat: no-repeat;
  z-index: 10;
  background-image: linear-gradient(to bottom, .gallery light-pink 40%, .gallery light-grey), url(../images/mobile/gallery-mobile@1x.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .gallery {
    background-image: linear-gradient(to bottom, .gallery light-pink 40%, .gallery light-grey), url(../images/mobile/gallery-mobile@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    background-image: linear-gradient(to bottom, .gallery light-pink 40%, .gallery light-grey), url(../images/768/gallery-tablet@1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .gallery {
    background-image: linear-gradient(to bottom, .gallery light-pink 40%, .gallery light-grey), url(../images/768/gallery-tablet@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    background-image: linear-gradient(to bottom, .gallery light-pink 40%, .gallery light-grey), url(../images/1200/gallery-desktop@1x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .gallery {
    background-image: linear-gradient(to bottom, .gallery light-pink, .gallery light-grey), url(..//images/1200/gallery-desktop@2x.png);
  }
}/*# sourceMappingURL=main.css.map */