/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './utils/media-query';
@import './general';
@import './utils/variables';
// @import './example';
@import './components/about';
@import './components/header-menu';