.backdrop-header {
    position: fixed;
    top: 0;
    left: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    &[open] {
        animation: fade-in 250ms forwards;
    }

    &[buy-modal-close] {
        display: block;
        pointer-events: none;
        inset: 0;
        animation: fade-out 250ms forwards;
    }
}