.modal-buy {
  width: calc(100vw - 30px);
  height: 609px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  @include constant-input {
    width: 450px;
    margin: 0 auto;
  }

  @include desktop {
    width: 528px;
    max-height: 581px;
  }

  &__close-button {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    fill: #000;

    &:focus,
    &:hover,
    &:active {
      fill: getColor(dark-pink);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 0.6em;
  }

  &__close-icon {
    margin: auto;
  }
}