/* VARIABLES  
=============================================*/
$color: (
  'pinky': #ffb5ca,
  'medium-pinky': #fea5bb,
  'full-pinky': #ffa5ba,
  'dark-pink': #d41443,
  'light-pink': #fff5f6,
  'coffe': #f0d1a5,
  'green': #c2e297,
  'grey-text': #907e82,
  'light-grey': #e5e5e5,
  'semi-white': #ffffff,
  'grey-accent': #e1e1e1,
  'light-brown': #907e82,
);

@function getColor($key) {
  @return map-get($color, $key);
}

$transition-time-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$line-height-for-font-14: 14px;

$fonts-size: (
  'section-size': 34px,
  'section-size-small': 18px,
  'section-tablet-size': 48px,
  'section-tablet-size-small': 26px,
  'section-desktop-size': 58px,
  'section-desktop-size-small': 30px,

  'content-size': 14px,
  'content-size-small': 12px,
  'advantages-size': 36px,
  'advantages-tablet-size': 48px,
  'advantages-desktop-size': 58px,

  'products-size': 20px,
  'products-desktop-size': 30px,

  'small-size': 8px,
);

@function getFontSize($key) {
  @return map-get($fonts-size, $key);
}
