.footer-section {
  padding: 113px 0px;
  padding-bottom: 0px;
  background-color: getColor('light-pink');
  @media screen and (min-width: 768px) {
    padding-top: 158px;
    
  }
  @media screen and (min-width: 1280px) {
    padding-top: 165px;
    
  }
}

.footer {
  padding-bottom: 43px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 16px; // Mateusz Ch
    padding-bottom: 91px;
  }

  @media screen and (min-width: 1280px) { // Mateusz Ch
    padding: 0 80px; // Mateusz Ch
    padding-bottom: 97px;
  }
  
  &__description {
    font-family: inherit;
    margin-bottom: 43px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
      
    }
    
    @media screen and (min-width: 1280px) { // Mateusz Ch
      margin-bottom: 0px;
      
    }
    
    
  }
  
  &__title {
    max-width: 232px;
    font-family: 'Titan One';
    text-transform: uppercase;
    color: getColor('full-pinky');
    font-size: 18px;
    font-weight: 400px;
    line-height: 1.17;
    margin-bottom: 17px;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
      max-width: 340px;
      font-size: 26px;
      line-height: 1.15;
    }

    @media screen and (min-width: 1280px) {
      max-width: 472px;
      font-size: 30px;
      line-height: 1.13;
    }
  }

  &__credo {
    max-width: 200px;
    font-family: 'Titan One';
    text-transform: uppercase;
    color: getColor('dark-pink');
    font-size: 34px;
    line-height: 1.15;
    font-weight: 400;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
      max-width: 340px;
      font-size: 48px;
      letter-spacing: 0.06em;
    }

    @media screen and (min-width: 1280px) {
      max-width: 478px;
      font-size: 58px;
      line-height: 1.14;
    }
  }

  &__contact {
    // color: rgba(0, 0, 0, 1);
    font-size: 12px;
    font-weight: 700;
    line-height: 1.86;
    text-align: right;
    margin-top: 46px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  &__phone {
    text-decoration: none;
    color: getColor('dark-pink');
  }
}

.copyright {
  text-align: center;
  padding-left: 79px;
  padding-right: 91px;
    padding-top: 22px;
  padding-bottom: 25px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.52;
  color: getColor('light-brown');
  text-align: center;
  border-top: 1px solid getColor('grey-accent');
  letter-spacing: 0.02em;
  
  @media screen and (min-width: 768px) {
       line-height: 1.86;
    padding-top: 28px;
    padding-bottom: 19px;
  }
  @media screen and (min-width: 1280px) {
    line-height: 1.86;
    padding-top: 9px;
    padding-bottom: 10px;
  }
}



.footer-socials {

  &__list {

    display: flex;
    flex-direction: row;
    gap: 28px;
    list-style: none;
    justify-content: end;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: getColor('medium-pinky');
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $transition-time-timing;

    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: getColor('dark-pink');
    }

    @media screen and (min-width: 768px) {
      width: 34px;
      height: 34px;
    }
  }

  &__icon {
    padding: 0;
    fill: getColor('semi-white');
  }
}