<section class="section adventages">
  <ul class="container adventages__list">
    <li class="adventages__grid-item">
      <img src="/images/mobile/icon1.png" width="33px" height="50px" alt="milk" />

      <p class="adventages__number">721</p>
      <p class="adventages__span">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="adventages__grid-item">
      <img src="/images/mobile/icon2.png" width="50px" height="50px" alt="apple" />
      <p class="adventages__number">16kg</p>
      <p class="adventages__span">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="adventages__grid-item">
      <img src="/images/mobile/icon3.png" width="44px" height="50px" alt="heart" />
      <p class="adventages__number">84</p>
      <p class="adventages__span">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  <div>
</section>
