<section class="adventages">
  <div class="adventages__list">
    <div class="adventages__grid-item">
      <img src="/images/mobile/icon1.png" alt="milk" />

      <p class="adventages__number">721</p>
      <p class="adventages__span">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    <div class="adventages__grid-item">
      <img src="/images/mobile/icon2.png" alt="apple" />
      <p class="adventages__number">16kg</p>
      <p class="adventages__span">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    <div class="adventages__grid-item">
      <img src="/images/mobile/icon3.png" alt="heart" />
      <p class="adventages__number">84</p>
      <p class="adventages__span">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
  <div>
</section>
