<section class="contacts">
    <h2 class="hidden-title">CONTACT</h2>
    <div class="container">
        <ul class="contacts__list">
            <li class="contacts__card">
                <div class="contacts__heading">
                    <p>cafe</p>
                </div>
                <h3 class="contacts__box-title">Chicago</h3>
                <p class="contacts__box-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="contacts__box">
                    <div class="contacts__box-item">
                        <p class="contacts__box-title">Monday - Friday</p>
                        <p class="contacts__box-time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts__box-item">
                        <p class="contacts__box-title">Saturday - Sunday</p>
                        <p class="contacts__box-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <address class="footer-adress">
                    <div class="footer-adress__item">
                        <a href="tel:+48111111111" class="footer-adress__link">+61(0) 383 766 284</a>
                    </div>
                    <div class="footer-adress__item">
                        <a href="mailto:info@devstudio.com" class="footer-adress__link">noreply@envato.com</a>
                    </div>
                </address>
            </li>
            <li class="contacts__card">
                <div class="contacts__heading">
                    <p>cafe</p>
                </div>
                <h3>Chicago</h3>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div>
                    ***
                </div>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
                <div>
                    ***
                </div>
                <address class="footer-adress">
                    <div class="footer-adress__item">
                        <a href="tel:+48111111111" class="footer-adress__link">+61(0) 383 766 284</a>
                    </div>
                    <div class="footer-adress__item">
                        <a href="mailto:info@devstudio.com" class="footer-adress__link">noreply@envato.com</a>
                    </div>
                </address>
            </li>
            <li class="contacts__card">
                <div class="contacts__heading">
                    <p>cafe</p>
                </div>
                <h3>Chicago</h3>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div>
                    ***
                </div>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
                <div>
                    ***
                </div>
                <address></address>
            </li>
        </ul>
    </div>
</section>