<section class="contacts">
    <h2 class="hidden-title">CONTACT</h2>
    <div class="container">
        <ul class="contacts__list">
            <li class="contacts__card">
                <div class="contacts__category">
                    <strong class="contacts__category-text">cafe</strong>
                </div>
                <h3 class="contacts__box-title">Chicago</h3>
                <p class="contacts__box-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="contacts__box">
                    <div class="contacts__box-item">
                        <p class="contacts__box-title">Monday - Friday</p>
                        <p class="contacts__box-time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts__box-item">
                        <p class="contacts__box-title">Saturday - Sunday</p>
                        <p class="contacts__box-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div>
                    <address class="contacts__adress">
                        <a href="tel:+48111111111" class="contacts__adress_link">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts__adress_link">noreply@envato.com</a>
                    </address>
                </div>
            </li>
            <li class="contacts__card">
                <div class="contacts__category contacts__category--other">
                    <strong class="contacts__category-text">foodtruck</strong>
                </div>
                <h3 class="contacts__box-title">Los Angeles</h3>
                <p class="contacts__box-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="contacts__box">
                    <div class="contacts__box-item">
                        <p class="contacts__box-title">Monday - Friday</p>
                        <p class="contacts__box-time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts__box-item">
                        <p class="contacts__box-title">Saturday - Sunday</p>
                        <p class="contacts__box-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div>
                    <address class="contacts__adress">
                        <a href="tel:+48111111111" class="contacts__adress_link">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts__adress_link">noreply@envato.com</a>
                    </address>
                </div>
            </li>
            <li class="contacts__card">
                <div class="contacts__category">
                    <strong class="contacts__category-text">cafe</strong>
                </div>
                <h3 class="contacts__box-title">New York</h3>
                <p class="contacts__box-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="contacts__box">
                    <div class="contacts__box-item">
                        <p class="contacts__box-title">Monday - Friday</p>
                        <p class="contacts__box-time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts__box-item">
                        <p class="contacts__box-title">Saturday - Sunday</p>
                        <p class="contacts__box-time">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div>
                    <address class="contacts__adress">
                        <a href="tel:+48111111111" class="contacts__adress_link">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts__adress_link">noreply@envato.com</a>
                    </address>
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons__container">
        <button type="button" class="contacts__button-red">Our Locations &#62;</button>
        <button type="button" class="contacts__button-white">Franchise &#62;</button>
    </div>
</section>