<section class="section customers-section" id="about-us">
  <div class="slideshow-container customers">
    <div class="mySlides customers__slides">
      <div class="customer__photo">
        <img src="images\global\testimonials1-85x85.png" alt="girl" />
      </div>
      <div class="customers__text">
        <p class="customer__opinion">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="author">Emily, Los Angeles</p>
    </div>

    <div class="mySlides customers__slides">
      <div class="customer__photo">
        <img src="images\global\testimonials2-85x85.png" alt="girl" />
      </div>
      <div class="customers__text">
        <p class="customer__opinion">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="author">Tina, New York</p>
    </div>

    <div class="mySlides customers__slides">
      <div class="customer__photo">
        <img src="images\global\testimonials3-85x85.png" alt="girl" />
      </div>
      <div class="customers__text">
        <p class="customer__opinion">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="author">Lola, Honolulu</p>
    </div>

    <!-- <a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a> -->
  </div>

  <ul class="dot-container">
    <li class="dot" onclick="currentSlide(1)"></li>
    <li class="dot" onclick="currentSlide(2)"></li>
    <li class="dot" onclick="currentSlide(3)"></li>
  </ul>
</section>
