<section class="custom-rev">
  <div class="custom-rev__testimonials">
    <img src="./src/images/global/testimonials3-85x85.png" alt="Girl1" width="85" height="85" />
  </div>

  <div class="custom-rev__review">
    <p class="custom-rev__text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
  </div>

  <div class="custom-rev__slider">
    <p class="custom-rev__name">Emily, Los Angeles</p>
  </div>
</section>
