<header class="menu-background">
    <div class="menu-background__ice-container">
        <svg class="menu-background__svg" width="346px" height="344px">
            <ellipse class="menu-background__elipse" rx="50%" ry="50%" cx="50%" cy="50%" />
        </svg>
        <img class="menu-background__ice" src="images/mobile/slider-pic7-171x410.png" alt="rozek-wielokolorowy" srcset="
          ./images/mobile/slider-pic7-171x410.png 171w,
          ./images/768/slider-pic7-143x336-768.png 143w,
          ./images/1200/slider-pic7-236x557-1200.png 236w,
          ./images/retina/slider-pic7-342x820-2x.png 342w,
          ./images/retina/slider-pic7-286x672-768-2x.png 286w,
          ./images/retina/slider-pic7-472x1114-1200-2x.png 472w
          " sizes="
          ((min-width: 768px) and (max-width:1199px)) 143px,
          (max-width: 767px) 171px,
          ((min-width: 768px) and (max-width:1199px) and (min-resolution: 2dppx) and (min-device-pixel-ratio: 2)) 286px,
          ((max-width: 767px) and (min-resolution: 2dppx) and (min-device-pixel-ratio: 2)) 342px,
          ((min-width: 1200px) and (min-resolution: 2dppx) and (min-device-pixel-ratio: 2)) 472px,
          (min-width: 1200px) 236 px,
          100vw" />
    </div>

    <div class=" menu-mobile-bar">
        <a class="logo" href="index.html"><img src="images/global/logo-1-199x50.png" alt="Logo-i-ikona-png" srcset="./images/retina/logo-1-398x100-2x.png 2x
            "></a>
        <div class="menu-mobile-bar__container">
            <button type="button" class="toggle-button js-open-menu">
                <svg width="20px" height="12px" class="toggle-button__icon">
                    <use href="images/icons.svg#icon-menu-burger"></use>
                </svg>
            </button>
            <button type="button" class="buy-button buy-button--bar-hidden">Buy
                now</button><!-- button default display:none not shown in mobile SVG TICK-->
        </div>
        <!-- THIS IS REST OF HEADER-->
    </div>
    <div class="call-to-action">
        <h1 class="call-to-action__headline">ice cream made with <span
                class="call-to-action__headline-accent">passion</span></h1>
        <a class="call-to-action__link" href="#products"><button type="button"
                class="call-to-action__button1 call-to-action__button1--accent">Products</button></a>
        <a class="call-to-action__link" href="#how-its-made"><button type="button" class="call-to-action__button1">
                How its made?</button></a>
    </div>
    <div class="informationals"><!-- Laska + liczba kafejek + liczba foodtracków phone - opacity: 0 -->
        <img class="informationals__photo" src="images/768/slider-pic4-168x133-768.png" alt="laska" srcset="
          ./images/768/slider-pic4-168x133-768.png 168w,
          ./images/1200/slider-pic4-293x232-1200.png 293w,
          ./images/retina/slider-pic4-336x266-768-2x.png 336w,
          ./images/retina/slider-pic4-586x464-1200-2x.png 586w
          " sizes="
          ((max-width: 767px) and (min-resolution: 2dppx) and (min-device-pixel-ratio: 2)) 168px,
          ((min-width: 768px) and (max-width:1199px)) 168px,
          (max-width: 767px) 168px,
          (min-width: 1200px) 293 px,
          ((min-width: 768px) and (max-width:1199px) and (min-resolution: 2dppx) and (min-device-pixel-ratio: 2)) 336px,
          ((min-width: 1200px) and (min-resolution: 2dppx) and (min-device-pixel-ratio: 2)) 586px,
          100vw" />
        <p class="informationals__sites">16 cafes</p>
        <p class="informationals__sites">23 food trucks</p>
    </div>
    <div class="milk-info"><!-- Mleko + lorem + button default display:none -->
        <img class="milk-info__photo" src="images/768/slider-pic5-124x126-768.png" alt="mleko-w-dzbanku" srcset="">
        <p class="milk-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
        </p>
        <button type="button" class="milk-info__button">
            <svg width="12px" height="12px" class="milk-info__icon">
                <use href="images/icons.svg#icon-circle-arrow-right"></use>
            </svg>
        </button>
    </div>
    <!-- THIS IS OPEN MOBILE MENU brak zapytań o media dla tabletu-->
    <div class="menu-mobile js-menu-container" id="mobile-menu">
        <button type="button" class="menu-mobile__toggle-button js-close-menu">
            <svg width="14px" height="14px" class="menu-mobile__toggle-button-icon">
                <use href="images/icons.svg#icon-close-cross"></use>
            </svg>
        </button>
        <button type="button" class="buy-button buy-button--mobile">Buy now</button>
        <nav class="menu-mobile__navigation">
            <a class="menu-mobile__link menu-mobile__link--present" href="index.html">Home</a>
            <a class="menu-mobile__link" href="#about-us">About us</a>
            <a class="menu-mobile__link" href="#how-its-made">How it's made?</a>
            <a class="menu-mobile__link" href="#products">Our products</a>
            <a class="menu-mobile__link menu-mobile__link--last" href="#contact">Contact</a>
        </nav>
    </div>
    <!-- THIS IS DESKTOP MENU -->
    <!-- <div class="menu container">
        <a class="logo logo--color" href="index.html">WebStudio</a>
        <nav class="nav-submenu">
            <a class="nav-submenu__link nav-submenu__link--present" href="index.html#Agencja">Agencja</a>
            
            <a class="nav-submenu__link" href="#Kontakt">Kontakt</a>
        </nav>
        <div class="menu-right">
            <a class="menu-right__link" href="mailto:info@devstudio.com"><svg width="16px" height="16px"
                    class="menu-right__icon menu-right__icon--mail">
                    <use href="images/icons.svg#icon-envelope"></use>
                </svg>info@devstudio.com</a>
            <a class="menu-right__link" href="tel:+48111111111"><svg width="16px" height="16px"
                    class="menu-right__icon menu-right__icon--phone">
                    <use href="images/icons.svg#icon-phone"></use>
                </svg>+48 111 111 111</a>
        </div>
    </div> -->
</header>