<header class="menu-background"><!-- clasa powinna zawierać tło z kółkiem  -->
    <img src="images/mobile/slider-pic7-171x410.png" alt="rozek-wielokolorowy" srcset="">
    <div class="menu-mobile-bar">
        <a class="logo" href="index.html"><img src="images/global/logo-1-199x50.png" alt="Logo-i-ikona-png" srcset="./images/retina/logo-1-398x100-2x.png 2x
            "></a>
        <button type="button" class="toggle-button js-open-menu"> Here should be SVG
            <!-- <svg width="40px" height="40px" class="toggle-button__icon">
                <use href="images/icons.svg#icon-mobile-menu"></use>
            </svg> -->
        </button>
        <button type="button" class="">Buy now</button> <!-- button default display:none not shown in mobile -->
        <!-- THIS IS OPEN MOBILE MENU nie wszystko zrobione -->
        <div class="menu-mobile js-menu-container" id="mobile-menu">
            <button type="button" class="toggle-button menu-mobile__toggle-button js-close-menu">
                <!-- <svg width="40px" height="40px" class="toggle-button__icon">
                    <use href="images/icons.svg#icon-mobile-menu-close"></use>
                </svg> -->
            </button>
            <nav class="menu-mobile__navigation">
                <a class="menu-mobile__link menu-mobile__link--present" href="index.html#Agencja">Agencja</a>
                <!-- <a class="menu-mobile__link" href="portfolio.html">Portfolio</a> -->
                <a class="menu-mobile__link" href="#Kontakt">Kontakt</a>
            </nav>
        </div>
        <!-- THIS IS REST OF HEADER-->
        <div>
            <h1>ice cream made with passion</h1>
            <a href="index.html#Products"><button type="button" class="">Products</button></a>
            <a href="index.html#How-its-made"><button type="button" class="">How its made?</button></a>
        </div>
        <div><!-- Laska + liczba kafejek + liczba foodtracków default display:none -->
            <p>16 cafes</p>
            <p>23 food trucks</p>
        </div>
        <div><!-- Mleko + lorem + button default display:none -->
            <img src="" alt="mleko-w-dzbanku" srcset="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
            <button type="button" class=""> Here should be SVG strzałka
                <!-- <svg width="40px" height="40px" class="toggle-button__icon">
                                    <use href="images/icons.svg#icon-mobile-menu"></use>
                                </svg> -->
            </button>
        </div>
    </div>
    <!-- THIS IS DESKTOP MENU -->
    <!-- <div class="menu container">
        <a class="logo logo--color" href="index.html">WebStudio</a>
        <nav class="nav-submenu">
            <a class="nav-submenu__link nav-submenu__link--present" href="index.html#Agencja">Agencja</a>
            
            <a class="nav-submenu__link" href="#Kontakt">Kontakt</a>
        </nav>
        <div class="menu-right">
            <a class="menu-right__link" href="mailto:info@devstudio.com"><svg width="16px" height="16px"
                    class="menu-right__icon menu-right__icon--mail">
                    <use href="images/icons.svg#icon-envelope"></use>
                </svg>info@devstudio.com</a>
            <a class="menu-right__link" href="tel:+48111111111"><svg width="16px" height="16px"
                    class="menu-right__icon menu-right__icon--phone">
                    <use href="images/icons.svg#icon-phone"></use>
                </svg>+48 111 111 111</a>
        </div>
    </div> -->
</header>