<!-- start header -->
<header class="menu-background">
    <!-- start container with position -->
    <div class="header__links container">
      <div class="logo">
        <a class="logo" href="index.html"
          ><img
            src="images/global/logo-1-199x50.png"
            alt="Logo-i-ikona-png"
            srcset="./images/retina/logo-1-398x100-2x.png 2x"
        /></a>
      </div>
    </div>
    <!-- end container with position -->
    <div class="header__content">
      <div class="circle__container">
        <div class="circle">
          <img
            class="ice"
            src="images/mobile/slider-pic7-171x410.png"
            alt="rozek-wielokolorowy"
            srcset=""
          />
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->
  