<div class="backdrop is-hidden" data-map>
    <div class="modal-map">
        <span class="modal-map__header">Our Locations</span>
        <button type=button class="modal-map__close-button" data-map-close>
            <!-- do wklejenia svg lub inna icona-->
            X
        </button>
        <div class="modal-map__container">
            <ul>
                <li class="modal-map__office-box">
                    <div>
                        <h3 class="modal-map__box-title">Chicago</h3>
                        <div class="modal-map__contacts-box">
                            <address class="modal-map__adress">
                                <a href="tel:+48111111111" class="modal-map__adress-link">+61(0) 383 766 284</a>
                                <a href="mailto:noreply@envato.com"
                                    class="modal-map__adress-link">noreply@envato.com</a>
                            </address>
                        </div>
                    </div>
                    <div class="modal-map__map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47496.566917521515!2d-87.74183199881041!3d41.92434462801499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd29d7c79d085%3A0xc19ae13c746621e!2sPretty%20Cool%20Ice%20Cream!5e0!3m2!1spl!2spl!4v1671276700602!5m2!1spl!2spl"
                            style="border: 1px solid rgba(212, 19, 66, 1); border-radius: 4px;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </li>
                <li class="modal-map__office-box">
                    <div>
                        <h3 class="modal-map__box-title">Los Ageles</h3>
                        <div class="modal-map__contacts-box">
                            <address class="modal-map__adress">
                                <a href="tel:+48111111111" class="modal-map__adress-link">+61(0) 383 766 284</a>
                                <a href="mailto:noreply@envato.com"
                                    class="modal-map__adress-link">noreply@envato.com</a>
                            </address>
                        </div>
                    </div>
                    <div class="modal-map__map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105784.23627089111!2d-118.34688815802654!3d34.0500941163903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c64b8fb9bbd7%3A0xce059f113428209c!2sMcConnell&#39;s%20Fine%20Ice%20Creams%20-%20GCM!5e0!3m2!1spl!2spl!4v1671286043657!5m2!1spl!2spl"
                            style="border: 1px solid rgba(212, 19, 66, 1); border-radius: 4px;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </li>
                <li class="modal-map__office-box">
                    <div>
                        <h3 class="modal-map__box-title">New York</h3>
                        <div class="modal-map__contacts-box">
                            <address class="modal-map__adress">
                                <a href="tel:+48111111111" class="modal-map__adress-link">+61(0) 383 766 284</a>
                                <a href="mailto:noreply@envato.com"
                                    class="modal-map__adress-link">noreply@envato.com</a>
                            </address>
                        </div>
                    </div>
                    <div class="modal-map__map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387048.34562732436!2d-74.51449825000005!3d40.722084499999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2598722ae28eb%3A0x5c4a711e46a801a0!2sil%20laboratorio%20del%20gelato!5e0!3m2!1spl!2spl!4v1671286196005!5m2!1spl!2spl"
                            style="border: 1px solid rgba(212, 19, 66, 1); border-radius: 4px;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </li>
            </ul>
        </div>
        </ul>
    </div>
</div>
<script src="./js/modal-map.js"></script>