<div class="backdrop-header is-hidden-header" buy-modal>
    <div class="modal-buy">
        <button type="button" class="modal-buy__close-button" buy-modal-close>
            <svg width="11px" height="11px" class="modal-buy__close-icon">
                <use href="images/icons.svg#icon-close-cross"></use>
            </svg>
        </button>
        <p class="modal-buy__title">Zostaw swoje dane w formularzu poniżej</p>
        <!-- <form name="order-service" class="order-service">
            <label class="order-service__labels">
                Imię
                <input type="text" name="alias" class="order-service__squeres" />
                <svg width="18px" height="18px" class="order-service__icon">
                    <use href="images/icons.svg#icon-person"></use>
                </svg>
            </label>
            <label class="order-service__labels">
                Telefon
                <input type="tel" name="phone-number" class="order-service__squeres" />
                <svg width="18px" height="18px" class="order-service__icon">
                    <use href="images/icons.svg#icon-telphone"></use>
                </svg>
            </label>
            <label class="order-service__labels">
                Email
                <input type="email" name="email" class="order-service__squeres" />
                <svg width="18px" height="18px" class="order-service__icon">
                    <use href="images/icons.svg#icon-email"></use>
                </svg>
            </label>
            <label class="order-service__labels">
                Komentarz
                <textarea name="order-comment" placeholder="Wprowadź tekst" spellcheck
                    class="order-service__comment"></textarea>
            </label>
            <label class="order-service__checkbox-label">
                <input type="checkbox" class="order-service__custom-checkbox" />
                Oświadczam, iż akceptuję <a href="" target="_blank" class="order-service__checkbox-link">Regulamin</a> i
                <a href="" target="_blank" class="order-service__checkbox-link">Politykę
                    prywatności</a>
            </label>
            <button type="submit" class="button1">Wyślij</button>
        </form> -->
    </div>