<section class="products">
    <div class="products__header">
    <p class="products__label">100% natural</p> 
    <h3 class="products__title">products</h3>
    </div>
    <div class="products__container container">
    <div class="products__container--colors">
        <div class="products__container--position">
        <figure class="products__container--pink">
            <img class="products__container--picture" 
            src="./images/mobile/home-pic1-249x252.png"  
            width="249" height="252" alt="ice cream"> 
            <h3 class="products__container--title">Ice cream</h3>
          
            <figurecaption class="products__container--text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit, sed do elusmod temper incididunt ut labore et
            </figurecaption>
                <button type="button" class="products__button">
                    <img class="products__icon" src="images/global/arrow-right-40x40.png" alt="strzalka-w-prawo-kolko" />
                </button>
            </figure>
            
            <figure class="products__container--yellow">
            <img class="products__container--picture" 
            src="./images/mobile/home-pic1-2-249x252.png"
             width="249" height="252" alt="ice cream">
            <h3 class="products__container--title">Ice coffee</h3>
           
            <figurecaption class="products__container--text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit, sed do elusmod temper incididunt ut labore et
            </figurecaption>
                <button type="button" class="products__button">
            <img class="products__icon" src="images/global/arrow-right-40x40.png" alt="strzalka-w-prawo-kolko" />
            </button>
        </figure>
   
        <figure class="products__container--green">
            <img class="products__container--picture" src="./images/mobile/home-pic1-3-249x252.png" 
            width="249" height="252" alt="ice cream">
            <h3 class="products__container--title">Milkshakes</h3>
            
            <figurecaption class="products__container--text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit, sed do elusmod temper incididunt ut labore et
            </figurecaption>
                <button type="button" class="products__button">
            <img class="products__icon" src="images/global/arrow-right-40x40.png" alt="strzalka-w-prawo-kolko" />
            </button>
        </figure>
        </div>
     </div>
</section>
