<section class="products" id="products">
    <p class="products__label">100% natural</p> 
    <h3 class="products__title">products</h3>
    <div class="products__container">
        <figure class="products__container--pink">
            <img class="products__container--picture" src="./images/mobile/home-pic1-249x252.png" width="249" height="252" alt="ice cream">
            <figurecaption class="products__container--title">Ice cream</figurecaption><p class="products__container--text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit, sed do elusmod temper incididunt ut labore et
            </p>
        </figure>
    
        <figure class="products__container--yellow">
            <img class="products__container--picture" src="./images/mobile/home-pic1-2-249x252.png" width="249" height="252" alt="ice cream">
            <figurecaption class="products__container--title">Ice coffee</figurecaption><p class="products__container--text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit, sed do elusmod temper incididunt ut labore et
            </p>
        </figure>
   
        <figure class="products__container--green">
            <img class="products__container--picture" src="./images/mobile/home-pic1-3-249x252.png" width="249" height="252" alt="ice cream">
            <figurecaption class="products__container--title">Milkshakes</figurecaption><p class="products__container--text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit, sed do elusmod temper incididunt ut labore et
            </p>
        </figure>
     </div>
</section>