<section class="products section" id="products">
    <div class="container">
      <p class="products__label">100% natural</p>
      <h3 class="products__title">products</h3>
      <div class="products__container">
        <figure class="products__container__color products__container__color--pink">
          <div class="products__container--move">
            <img
              class="products__container--picture"
              src="./images/mobile/home-pic1-249x252.png"
              width="249"
              height="252"
              alt="ice cream"
            />
            <div class="prodcuts__container--box">
              <div class="products__container--capture">
                <figurecaption class="products__container--title">Ice cream</figurecaption>
                <div class="products__container--dots">
                  <div class="products__container--dots--dot"></div>
                </div>
                <div class="products__containe__text">
                  <p class="products__container--text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis.
                  </p>
                </div>
              </div>
              <div class="prodcuts__container--arrow"></div>
            </div>
          </div>
        </figure>
  
        <figure class="products__container__color products__container__color--yellow">
          <div class="products__container--move">
            <img
              class="products__container--picture"
              src="./images/mobile/home-pic1-2-249x252.png"
              width="249"
              height="252"
              alt="ice cream"
            />
            <div class="prodcuts__container--box">
              <div class="products__container--capture">
                <figurecaption class="products__container--title">Ice coffee</figurecaption>
                <div class="products__container--dots">
                  <div class="products__container--dots--dot"></div>
                </div>
                <div class="products__containe__text">
                  <p class="products__container--text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis.
                  </p>
                </div>
              </div>
              <div class="prodcuts__container--arrow"></div>
            </div>
          </div>
        </figure>
  
        <figure class="products__container__color products__container__color--green">
          <div class="products__container--move">
            <img
              class="products__container--picture"
              src="./images/mobile/home-pic1-3-249x252.png"
              width="249"
              height="252"
              alt="ice cream"
            />
            <div class="prodcuts__container--box">
              <div class="products__container--capture">
                <figurecaption class="products__container--title">Milkshakes</figurecaption>
                <div class="products__container--dots">
                  <div class="products__container--dots--dot"></div>
                </div>
                <div class="products__containe__text">
                  <p class="products__container--text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna aliqua facilisis.
                  </p>
                </div>
              </div>
              <div class="prodcuts__container--arrow"></div>
            </div>
          </div>
        </figure>
      </div>
    </div>
  </section>
  