.section--about {
  padding: 125px 0 39px;
}
.container--about {
  width: 100%;
  padding: 0 70px;
  margin: 0px auto;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 0 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0 33px;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.about {
  background-color: getColor('light-pink');
  background-image: url(../images/1200/sectionbg1-1280x534-1200.png);
  background-repeat: no-repeat;
  background-size: 1400px;
  background-position: 50% 125%;

  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-size: 320px;
    background-position: 50% 80%;
  }

  &__title {
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: getColor('dark-pink');

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 34px;
      line-height: 39px;
      text-align: center;
      letter-spacing: 0.04em;
    }

    &--smaller {
      font-size: 30px;
      line-height: 34px;
      text-align: center;
      text-transform: uppercase;
      color: getColor('full-pinky');

      @media screen and (min-width: 320px) and (max-width: 767px) {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
  &__slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      flex-direction: column;
      padding-top: 26px;
    }
  }
  &__slider ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 74px;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      padding: 46px 30px 39px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-left: 17px;
    }
  }

  &__text {
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 176%;
    margin-bottom: 35px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 12px;
      line-height: 162%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-top: 100px;
    }

    &--color {
      font-family: 'DM Sans';
      font-weight: 500;
      font-size: 14px;
      line-height: 194%;
      color: getColor('grey-text');
      margin-bottom: 45px;

      @media screen and (min-width: 320px) and (max-width: 767px) {
        font-size: 12px;
        line-height: 162%;
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        line-height: 176%;
        letter-spacing: 0.04em;
        margin-bottom: 62px;
      }
    }
  }
  &__btn {
    background-color: white;
    font-family: 'DM Sans';
    font-weight: 700;
    line-height: 21px;
    color: getColor('dark-pink');
    border-radius: 22px;
    border: none;
    width: 174px;
    height: 44px;

    &:hover {
      background-color: #ecebeb;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
  &__numbers {
    font-family: 'Titan One';
    font-size: 58px;
    line-height: 66px;
    text-transform: uppercase;
    color: getColor('dark-pink');
  }
  &__body {
    font-family: 'DM Sans';
    font-weight: 700;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}
