.adventages {
  background-color: #fff5f6;
  justify-content: center;
  display: flex;
  padding-bottom:0;
}
.adventages__list {
  
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 60px;
  }
}
.adventages__number {
  font-weight: 400;
  color: #d41443;
  font-size: 36px;
  font-family: Titan One;
  line-height: 41.22px;
  margin-top: 10px;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    font-size: 48px;
    line-height: 54.96px;
    letter-spacing: 4%;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 66.41px;
  }
}
.adventages__span {
  width: 230px;
  margin-bottom: 38px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 20.4px;
  font-size: 12px;
  @media screen and (min-width: 768px) {
    width: 180px;
    font-size: 14px;
    line-height: 24.36px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 330px;
    font-size: 16px;
    line-height: 28.16px;
  }
  &--lolipop {
 margin-bottom: 0;
  }
}

