.adventages {
  background-color: getColor('light-pink');
  padding: 0 20px;
  padding-right: 70px;
  padding-top: 39px;

  @media screen and (min-width: 768px) {
    padding: 0 38px;
    padding-right: 76px;
    padding-top: 66px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 38px;
    padding-right: 128px;
    padding-top: 66px;
  }
}
.adventages__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.adventages__grid-item {
  font-size: 12px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
