/*do uzupełnienia wartości ze zmiennych znajdujące sie wewnątrz główneg projektu*/

.contacts {
    background-color: rgba(255, 245, 246, 1);
    padding-top: 50px;
    padding-bottom: 50px;

}

.contacts__list {
    list-style: none;
    padding: 0;
    transform: translateY(-166px);
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 481px) {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    @media screen and (min-width: 1280px) {
        gap: 30px;
    }

}

.contacts__card {
    padding: 51px 44px 62px 44px;
    background-color: white;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    box-sizing: inherit;

    @media screen and (min-width: 768px) {
        width: calc((100% - 40px) / 3);
    }

    @media screen and (min-width: 1280px) {
        width: calc((100% - 60px) / 3);
    }
}

.contacts__category {
    background-color: rgba(240, 209, 165, 1);
    width: 73px;
    height: 28px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 32px;
}

.contacts__category--other {
    background-color: rgba(194, 226, 151, 1);
    width: 138px;
}

.contacts__category-text {
    font-family: DM Sans, sans-serif;
    font-style: Medium;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}


.contacts__box {
    margin: 0;
    padding: 32px 0 32px 0;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
    border-top: 1px solid rgba(225, 225, 225, 1);

}

.contacts__box-item {
    margin: 0;
}

.contacts__box-title {
    font-family: DM Sans, sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin: 0;
}

.contacts__box-description {
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: rgba(144, 126, 130, 1);
    margin: 0;
    padding: 10px 0 32px 0;
}

.contacts__box-time {
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(255, 165, 186, 1);
    margin: 0;
}

.contacts__adress {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.contacts__adress_link {
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: rgba(144, 126, 130, 1);
    font-style: normal;
    text-decoration: none;
    margin: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: rgba(144, 126, 130, 1);

    &:hover,
    &:focus {
        color: rgba(212, 19, 66, 1);
        cursor: pointer;
    }
}

.buttons__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transform: translateY(-112px);
    /* -166px +54px = -112px */

    @media screen and (min-width: 768px) {
        transform: translateY(-85px);
        /* -166px +81px = -85px */
        flex-direction: row;
        justify-content: center;
    }

    @media screen and (min-width: 1280px) {
        transform: translateY(-80px);
        /* -166px +86px = -80px */
        flex-direction: row;
        justify-content: center;
    }
}


.contacts__button-red {
    background-color: rgba(212, 19, 66, 1);
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    border: 0;
    border-radius: 22px;
    height: 44px;
    width: 161.45037841796875px;
    border: 0;
    transition: all 0.2s ease-out;

    &:hover,
    &:focus {
        color: rgba(236, 235, 235, 1);
        cursor: pointer;
    }

    @media screen and (min-width: 768px) {
        height: 44px;
        width: 191.45037841796875px;
    }

    @media screen and (min-width: 1280px) {
        height: 44px;
        width: 198;
    }
}

.contacts__button-white {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(212, 19, 66, 1);
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    border: 0;
    border-radius: 22px;
    height: 44px;
    width: 161.45037841796875px;
    border: 0;
    transition: all 0.2s ease-out;

    &:hover,
    &:focus {
        background: rgba(236, 235, 235, 1);
        cursor: pointer;
    }

    @media screen and (min-width: 768px) {
        min-height: 44px;
        min-width: 191.45037841796875px;
    }

    @media screen and (min-width: 1280px) {
        min-height: 44px;
        min-width: 198;
    }
}