/*do uzupełnienia wartości ze zmiennych znajdujące sie wewnątrz główneg projektu*/

.contacts {
    background-color: rgba(255, 245, 246, 1);
    padding-top: 50px;
    padding-bottom: 50px;
}

.contacts__list {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 481px) {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

}

.contacts__card {
    padding: 51px 44px 62px 44px;
    background-color: white;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and (min-width: 768px) {
        max-width: calc((100% - 40px) / 3);
    }
}

.contacts__heading {
    background-color: rgba(240, 209, 165, 1);
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    width: 73px;
    height: 28px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 32px;
}

.contacts__box {
    margin: 0;
    padding: 32px 0 32px 0;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
    border-top: 1px solid rgba(225, 225, 225, 1);
}

.contacts__box-item {
    margin: 0;
}

.contacts__box-title {
    font-family: DM Sans;
    color: chartreuse;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin: 0;
}

.contacts__box-description {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: rgb(220, 14, 59);
    margin: 0;
    padding: 10px 0 32px 0;
}

.contacts__box-time {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(255, 165, 186, 1);
    margin: 0;
}