
.contacts {
    background-color: getColor('light-pink');
    padding-top: 0.1px;

    @media screen and (min-width: 1280px) {
    background-image: url(../images/1200/sectionbg2-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    }
}

    /* przed zmianą
    background-image: linear-gradient(to bottom,
        rgb(255, 255, 255) 8%,
        rgba(255, 245, 246, 1) 8%,
        rgba(255, 245, 246, 1) 92%);
        
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to bottom,
            rgb(255, 255, 255) 18%,
            rgba(255, 245, 246, 1) 18%,
            rgba(255, 245, 246, 1) 82%);
            }
        
    @media screen and (min-width: 1280px) {
        background-image: linear-gradient(to bottom,
            rgb(255, 255, 255) 22%,
            rgba(255, 245, 246, 1) 22%,
            rgba(255, 245, 246, 1) 78%);
            }
}
*/

.contacts__list {
    list-style: none;
    padding: 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: -96px;
    
    @media screen and (min-width: 481px) {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        
    }

    @media screen and (min-width: 768px) {
        flex-direction: row;
        margin-top: -117px;
        padding: 0 16px;
    }

    @media screen and (min-width: 1280px) {
        gap: 30px;
        padding: 0 80px;
    }

}

.contacts__card {
    padding: 43px 20px 43px 20px;
    background-color: getColor('semi-white');
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    box-sizing: inherit;
    @media screen and (max-width: 767px) {
        max-width: 220px;
    }
    
    @media screen and (min-width: 768px) {
        padding: 50px 31px 50px 31px;
        width: calc((100% - 40px) / 3);
    }

    @media screen and (min-width: 1280px) {

        padding: 51px 44px 62px 44px;
        width: calc((100% - 60px) / 3);
    }
}

.contacts__category {
    background-color: getColor('coffe');
    width: 73px;
    height: 16px;
    border-radius: 6px;
    margin-bottom: 32px;
    text-align: center;

    @media screen and (min-width: 768px) {
        height: 28px;
    }
    @media screen and (min-width: 1280px) {
        height: 28px;
    }
}

.contacts__category--other {
    background-color: getColor('green');
    width: 138px;
}

.contacts__category-text {
    font-style: Medium;
    color: getColor('semi-white');
    font-size: getFontSize('content-size-small');
    font-weight: 500;
    line-height: 17.32px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
        @media screen and (min-width: 768px) {
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0.04em;
            }
        
        @media screen and (min-width: 1280px) {
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0.04em;
            }
}

.contacts__box {
    margin: 0;
    padding: 32px 0 32px 0;
    border-bottom: 1px solid getColor('grey-accent');
    border-top: 1px solid getColor('grey-accent');
}

.contacts__box-item {
    margin: 0;
}

.contacts__box-title {

    color: rgba(0, 0, 0, 1);
    font-size: getFontSize('content-size-small');
    font-weight: 500;
    line-height: 22.32px;
    margin: 0;
        @media screen and (min-width: 768px) {
        font-size: getFontSize('content-size');
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.04em;
        }
        
        @media screen and (min-width: 1280px) {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.04em;
        }
}

.contacts__box-description {
    font-size: getFontSize('content-size-small');
    font-weight: 500;
    line-height: 18px;
    color: getColor('light-brown');
    margin: 0;
    padding: 10px 0 32px 0;
        @media screen and (min-width: 768px) {
        font-size: getFontSize('content-size');
        font-weight: 500;
        line-height: 23px;
        }
        
        @media screen and (min-width: 1280px) {
        font-size: 16px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0.04em;
        }
}

.contacts__box-time {
    font-size: getFontSize('content-size-small');
    font-weight: 500;
    line-height: 22.32px;
    color: getColor('full-pinky');
    margin: 0;
        @media screen and (min-width: 768px) {
            font-size: getFontSize('content-size');
            font-weight: 500;
            line-height: 26px;
        }
        @media screen and (min-width: 1280px) {            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            font-size: 16px;
        }
}

.contacts__adress {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.contacts__adress_link {
    font-size: getFontSize('content-size-small');
    font-weight: 500;
    line-height: 18px;
    color: getColor('light-brown');
    font-style: normal;
    text-decoration: none;
    margin: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover,
    &:focus {
        color: getColor('dark-pink');
        cursor: pointer;
    }

    @media screen and (min-width: 768px) {
            font-size: 16px;
            font-weight: 500;
            line-height: 29px;
    }
            
    @media screen and (min-width: 1280px) {
            font-size: 16px;
            font-weight: 500;
            line-height: 29px;
    }
}

.buttons__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 54px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        margin-top: 81px;
    }

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        justify-content: center;
        margin-top: 86px;
                }
}

.contacts__button-red {
    background-color: getColor('dark-pink');
    color: getColor('semi-white');
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    border: 0;
    border-radius: 22px;
    height: 44px;
    width: 161.45037841796875px;
    border: 0;
    transition: all 0.2s ease-out;

    &:hover,
    &:focus {
        color: getColor('light-grey');
        cursor: pointer;
    }

    @media screen and (min-width: 768px) {
        height: 44px;
        width: 191.45037841796875px;
    }

    @media screen and (min-width: 1280px) {
        height: 44px;
        width: 198;
    }
}

.contacts__icon-send {
    margin-left: 8px;
    fill: transparent;
    stroke: getColor('semi-white');

    @media screen and (min-width: 768px) {
        margin-left: 12px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 12px;
    }
}

.contacts__button-white {
    background-color: getColor('semi-white');
    color: getColor('dark-pink');
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    border: 0;
    border-radius: 22px;
    height: 44px;
    width: 161.45037841796875px;
    border: 0;
    transition: all 0.2s ease-out;

    &:hover,
    &:focus {
        background: getColor('light-grey');
        cursor: pointer;
    }

    @media screen and (min-width: 768px) {
        min-height: 44px;
        min-width: 191.45037841796875px;
    }

    @media screen and (min-width: 1280px) {
        min-height: 44px;
        min-width: 198;
    }
}

.contacts__icon-send--pink {
    margin-left: 16px;
    fill: transparent;
    stroke: getColor('dark-pink');

    @media screen and (min-width: 768px) {
        margin-left: 12px;
    }

    @media screen and (min-width: 1280px) {
        margin-left: 12px;
    }
}