// * {box-sizing: border-box}
// body {font-family: Verdana, sans-serif; margin:0}
.customers-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 113px 20px;
  padding-bottom: 40px;
  background-color: rgba(255, 255, 255, 1);
}

/* Slideshow container */
.customers {
  position: relative;

  //   @media screen and (min-width: 768px) {
  //     // padding: 113px 74px;
  //   }
  //   @media screen and (min-width: 1280px) {
  //     // padding: 113px 63px;
  //   }
}

/* Slides */
.customers__slides {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  //   display: none;
  //   padding: 50px;
  // max-width: 280px;
  height: auto;
  text-align: center;
  //    @media screen and (min-width: 768px) {
  //   max-width: 620px;
  //   }
  //   @media screen and (min-width: 1280px) {
  //     padding: 0 87px;
  //   }
}

/* The dot/bullet/indicator container */
.dot-container {
  //  margin-left: auto;
  display: flex;
  align-items: center;
  //   gap: 18px
  //   padding: 20px;
  //   background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 9px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  margin: 0 -9px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url(../images/home-slider.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.customer__photo {
  margin-bottom: 29px;
  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

/* Add font atributes to the opinion */

.customers__text {
  padding: 43px 66px 26px 57px;
  margin: 29px 20px 30px 20px;

  width: 100%;
  background: #fafafa;

  position: relative;

  @media screen and (min-width: 768px) {
    padding: 47px 80px 34px 80px;
    margin: 19px 74px 24px 74px;
    max-width: 620px;
  }

  @media screen and (min-width: 1200px) {
    padding: 47px 80px 34px 80px;
    margin: 15px auto;
    max-width: 926px;
  }
}

//   font-family: 'DM Sans';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 255%;
//   text-align: center;
//   color: #000000;
//   letter-spacing: 0.04em;
// // background: repeating-linear-gradient(#fafafa, #fafafa 29px, #e1e1e1 1px, #e1e1e1 30px);
//   // z-index: 100;
//   // max-width: 280px;
//   margin-bottom: 51px;
//   padding: 43px 66px 26px 57px;
//   background: rgba(250, 250, 250, 1);

//   @media screen and (min-width: 768px) {
//     font-size: 14px;
//     line-height: 216%;
//     letter-spacing: 0.04em;
//   }
//   @media screen and (min-width: 1200px) {
//     font-size: 16px;
//     line-height: 186%;
//     letter-spacing: 0.04em;
//   }
// }

.customer__opinion {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;

  text-align: center;
  color: #000000;

  background: repeating-linear-gradient(#fafafa, #fafafa 29px, #e1e1e1 1px, #e1e1e1 30px);
  z-index: 2;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 216%;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 186%;

    letter-spacing: 0.04em;
  }
}

.customer__opinion::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;

  background-color: rebeccapurple;
  top: 0;
  left: 0;
}

/* Add a blue color to the author */
.author {
  width: auto;
  display: block;
  position: relative;
  color: inherit;

  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
}

.author::before {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 20px;
  background-color: rebeccapurple;
  top: -28px;
  left: 36%;
}
