.custom-rev {
  margin-top: 80px;
  margin-bottom: 128px;

  @media screen and (min-width: 768px) {
    margin-top: 123px;
    margin-bottom: 166px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 121px;
    margin-bottom: 179px;
  }

  &__testimonials {
    display: flex;
    justify-content: center;
  }

  &__review {
    padding: 43px 66px 26px 57px;
    margin: 29px 20px 30px 20px;

    width: 100%;
    background: #fafafa;

    position: relative;

    @media screen and (min-width: 768px) {
      padding: 47px 80px 34px 80px;
      margin: 19px 74px 24px 74px;
      max-width: 620px;
    }

    @media screen and (min-width: 1200px) {
      padding: 47px 80px 34px 80px;
      margin: 15px auto;
      max-width: 926px;
    }

    &::after {
      content: url(/images/quotation-mark.svg);
      position: absolute;
      top: 28px;
      left: 61px;
      width: 54px;
      height: 40px;
      background-color: #fafafa;
      border: 1px solid #e1e1e1;
      z-index: 1;

      @media screen and (min-width: 768px) {
        top: 30px;
        left: 40px;
      }

      @media screen and (min-width: 1200px) {
        top: 32px;
        left: 50px;
      }
    }
  }
  &__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 255%;

    text-align: center;
    color: #000000;

    background: repeating-linear-gradient(#fafafa, #fafafa 29px, #e1e1e1 1px, #e1e1e1 30px);
    z-index: 2;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 216%;
      letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 186%;

      letter-spacing: 0.04em;
    }
  }

  &__slider {
    margin-top: 52px;

    @media screen and (min-width: 768px) {
      margin-top: 42px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 34px;
    }
  }

  &__name {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    text-align: center;
    color: #000000;
    position: relative;
    padding: 0 auto;

    &::before {
      content: url(/images/three-reds.svg);
      position: absolute;
      top: -18px;
      left: 48%;
      fill: #c7133e;
      background-color: rgb(196, 255, 228);
      width: 32px;
      height: 4px;

      @media screen and (min-width: 768px) {
        position: absolute;
        top: -15px;
      }

      @media screen and (min-width: 1200px) {
        position: absolute;
        top: -14px;
      }
    }

    &::after {
      content: url(/images/slider-dots.svg);
      position: absolute;
      bottom: -30px;
      left: 47%;
      fill: #c7133e;
      background-color: bisque;
      width: 72.4px;
      height: 12px;

      @media screen and (min-width: 768px) {
        position: absolute;
        bottom: -35px;
      }
    }
  }
}
