// * {box-sizing: border-box}
// body {font-family: Verdana, sans-serif; margin:0}
.customers-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 113px 20px;
  padding-bottom: 40px;
  background-color: rgba(255, 255, 255, 1);
}

/* Slideshow container */
.customers {
  position: relative;

  //   @media screen and (min-width: 768px) {
  //     // padding: 113px 74px;
  //   }
  //   @media screen and (min-width: 1280px) {
  //     // padding: 113px 63px;
  //   }
}

/* Slides */
.customers__slides {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  //   display: none;
  //   padding: 50px;
  // max-width: 280px;
  height: auto;
  text-align: center;
  //    @media screen and (min-width: 768px) {
  //   max-width: 620px;
  //   }
  //   @media screen and (min-width: 1280px) {
  //     padding: 0 87px;
  //   }
}

/* The dot/bullet/indicator container */
.dot-container {
  //  margin-left: auto;
  display: flex;
  align-items: center;
  //   gap: 18px
  //   padding: 20px;
  //   background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 9px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  margin: 0 -9px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  background-image: url(../images/home-slider.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.customer__photo {
  margin-bottom: 29px;
  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

/* Add font atributes to the opinion */

.customers__text {
  padding: 43px 66px 26px 57px;
  margin: 29px 20px 52px 20px;

  width: 100%;
  background: #fafafa;

  position: relative;

  @media screen and (min-width: 768px) {
    padding: 47px 80px 34px 80px;
    margin: 19px 74px 42px 74px;
    max-width: 620px;
  }

  @media screen and (min-width: 1200px) {
    padding: 47px 80px 34px 80px;
    margin: 0px auto 34px;
    max-width: 926px;
  }
}

//   font-family: 'DM Sans';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 255%;
//   text-align: center;
//   color: #000000;
//   letter-spacing: 0.04em;
// // background: repeating-linear-gradient(#fafafa, #fafafa 29px, #e1e1e1 1px, #e1e1e1 30px);
//   // z-index: 100;
//   // max-width: 280px;
//   margin-bottom: 51px;
//   padding: 43px 66px 26px 57px;
//   background: rgba(250, 250, 250, 1);

//   @media screen and (min-width: 768px) {
//     font-size: 14px;
//     line-height: 216%;
//     letter-spacing: 0.04em;
//   }
//   @media screen and (min-width: 1200px) {
//     font-size: 16px;
//     line-height: 186%;
//     letter-spacing: 0.04em;
//   }
// }

.customer__opinion {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;

  text-align: center;
  color: #000000;
  position: relative;
  background: repeating-linear-gradient(#fafafa, #fafafa 29px, #e1e1e1 1px, #e1e1e1 30px);
  z-index: 2;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 216%;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 186%;

    letter-spacing: 0.04em;
  }
}

.customer__opinion::before {
  content: '';
  position: absolute;
  width: 54px;
  height: 40px;
  z-index: -1;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='54' height='40' viewBox='0 0 54 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.0179 2.59234e-06C42.4286 2.80309e-06 44.7054 0.650413 46.8482 1.95122C48.9911 3.25204 50.7321 5.12196 52.0714 7.56098C53.3571 10 54 12.8726 54 16.1789C54 19.4851 53.1964 22.71 51.5893 25.8537C51.0536 26.9919 50.0893 28.4553 48.6964 30.2439C47.25 32.0325 45.9107 33.5772 44.6786 34.878L39.6161 40L36 33.9837C38.5179 32.4119 40.7411 30.4607 42.6696 28.1301C44.5982 25.8537 45.5625 23.7669 45.5625 21.8699C45.5625 20.8943 45.3482 20.1084 44.9196 19.5122C43.0446 20.8672 40.9554 21.5447 38.6518 21.5447C36.9911 21.5447 35.4107 21.0298 33.9107 20C32.3571 19.0244 31.125 17.7236 30.2143 16.0976C29.25 14.5257 28.7679 12.8997 28.7679 11.2195C28.7679 9.32249 29.3304 7.50678 30.4554 5.77236C31.5268 4.03794 32.9464 2.62873 34.7143 1.54472C36.4286 0.51491 38.1964 2.43311e-06 40.0179 2.59234e-06ZM11.1696 7.03482e-08C13.5804 2.81099e-07 15.8571 0.65041 18 1.95122C20.1429 3.25203 21.8839 5.12195 23.2232 7.56098C24.5089 10 25.1518 12.8726 25.1518 16.1789C25.1518 18.5095 24.8571 20.5962 24.2679 22.439C23.6786 24.336 22.6607 26.3144 21.2143 28.374C19.8214 30.3252 18.5089 31.9512 17.2768 33.252C16.0446 34.607 13.9018 36.8564 10.8482 40L7.23214 33.9837C9.75 32.4119 11.9732 30.4607 13.9018 28.1301C15.8304 25.8537 16.7946 23.7669 16.7946 21.8699C16.7946 20.8943 16.5804 20.1084 16.1518 19.5122C14.2768 20.8672 12.1875 21.5447 9.88393 21.5447C8.22321 21.5447 6.64285 21.0298 5.14285 20C3.58928 19.0244 2.35714 17.7236 1.44643 16.0976C0.482142 14.5257 -1.44552e-06 12.8997 -1.29863e-06 11.2195C-1.13278e-06 9.32249 0.535712 7.50677 1.60714 5.77236C2.67857 4.03794 4.09821 2.62873 5.86607 1.54472C7.58036 0.514908 9.34821 -8.88862e-08 11.1696 7.03482e-08Z' fill='%23E1E1E1'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  top: -15px;
  left: -35px;
}

/* Add a blue color to the author */
.author {
  width: auto;
  display: block;
  position: relative;
  color: inherit;

  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
}

.author::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 4px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='4' viewBox='0 0 32 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='2' r='2' fill='%23C7133E'/%3E%3Ccircle cx='2' cy='2' r='2' fill='%23C7133E'/%3E%3Ccircle cx='30' cy='2' r='2' fill='%23C7133E'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  top: -28px;
  left: 48%;
}
