.gallery {
    
  
    background-position: center;
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    z-index: 10;
  
    background-image: linear-gradient(
        to bottom,
        &light-pink 40%,
       &light-grey
      ),
      url(../images/mobile/gallery-mobile@1x.png);
  
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
          &light-pink 40%,
          &light-grey
        ),
        url(../images/mobile/gallery-mobile@2x.png);
    }
  
    @media screen and (min-width: 768px) {
    
  
      background-image: linear-gradient(
        to bottom,
        &light-pink 40%,
        &light-grey
        ),
        url(../images/768/gallery-tablet@1x.png);


      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to bottom,
            &light-pink 40%,
            &light-grey
          ),
          url(../images/768/gallery-tablet@2x.png);
      }
    }
    @media screen and (min-width: 1200px) {
    


      background-image: linear-gradient(
        to bottom,
        &light-pink 40%,
        &light-grey
        ),
        url(../images/1200/gallery-desktop@1x.png);
  
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to bottom,
          &light-pink,
          &light-grey
          ),
          url(..//images/1200/gallery-desktop@2x.png);
      }
    }
}