.modal-map {
    padding: 10px;
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 95%;
    max-width: 80%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    overflow: auto;
}

.modal-map__header {
    font-family: DM Sans, sans-serif;
    color: rgba(212, 19, 66, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.modal-map__close-button {
    font-family: DM Sans, sans-serif;
    color: rgba(212, 19, 66, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    background-color: transparent;
    border: 1px solid;
    border-radius: 50%;
    border-color: rgba(212, 19, 66, 1);
    cursor: pointer;
    position: relative;
    left: 498px;
    top: -28px
}

.modal-map__container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.modal-map__office-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 10px;
    gap: 10px;
}

.modal-map__box-title {
    font-family: DM Sans, sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin: 0;
    display: flex;
    justify-content: center;
}

.modal-map__adress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-map__adress-link {
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: rgba(144, 126, 130, 1);
    font-style: normal;
    text-decoration: none;
    margin: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: rgba(144, 126, 130, 1);

    &:hover,
    &:focus {
        color: rgba(212, 19, 66, 1);
        cursor: pointer;
    }
}

.modal-map__map {
    margin: 0;
    padding: 0;
}