.products.section {
  padding: 121px 0 98px 0;
}
.products__gap {
  display: flex;
  flex-direction: column;
  gap: 144px;
}
.products__label {
  color: #ffa5ba;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
}

.products__title {
  color: #d41443;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  text-align: center;
  line-height: 39px;
  text-transform: uppercase;
}

.products__container {
  border-radius: 24px;
  gap: 130px;
  display: flex;
  flex: wrap;
  flex-direction: column;
  align-items: center;

  &__color {
    border-radius: 24px;
    height: 485px;
    width: 280px;
    &--pink {
      background-color: #ffb8ca;
    }
    &--yellow {
      background-color: #f0d1a5;
    }
    &--green {
      background-color: #c2e297;
    }
  }
  &--move {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    margin-top: -115px;
  }
  &--capture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.prodcuts__container--arrow {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}
.prodcuts__container--box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 39px;
}

.products__container--dots {
  display: flex;
  justify-content: center;

  &--dot {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
  }
}
.products__container--title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  line-height: 23px;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
}

.products__containe__text {
  width: 200px;
  height: 124px;
}

.products__container--text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  line-height: 152%;
  letter-spacing: 0.04em;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .products.section {
    padding: 122px 0 112px 0;
  }

  .products__gap {
    gap: 150px;
  }
  .products__container {
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    &__color {
      height: 485px;
      width: 220px;
    }
  }
  .prodcuts__container--box {
    gap: 40px;
  }
  .products__containe__text {
    width: 198px;
    height: 124px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .products.section {
    padding: 127px 0 119px 0;
  }
  .products__gap {
    gap: 259px;
  }
  .products__container {
    &--move {
      gap: 38px;
      margin-top: -200px;
    }
  }
  .products__container {
    gap: 30px;
  }
  .prodcuts__container--box {
    gap: 62px;
  }
  .products__container__color {
    height: 525px;
    width: 329px;
  }
  .products__containe__text {
    width: 241px;
    height: 106px;
  }

  .products__container--text {
    font-size: 16px;
    line-height: 176%;
  }
}
