.products.section {
  padding: 121px 0 98px 0;
}
.products__label {
  color: #ffa5ba;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
}

.products__title {
  color: #d41443;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  text-align: center;
  line-height: 39px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 150px;
}

.products__container {
  border-radius: 24px;
  gap: 130px;
  display: flex;
  flex: wrap;
  flex-direction: column;
  align-items: center;
  margin: auto;

  &__color {
    border-radius: 24px;
    height: 485px;
    width: 280px;
    &--pink {
      background-color: #ffb8ca;
    }
    &--yellow {
      background-color: #f0d1a5;
    }
    &--green {
      background-color: #c2e297;
    }
  }
  &--move {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    margin-top: -115px;
  }
}

.prodcuts__container--arrow {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}
.prodcuts__container--box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 39px;
}

.products__container--dots {
  display: flex;
  justify-content: center;

  &--dot {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
  }
}
.products__container--title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  line-height: 23px;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
}

.products__container--text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  line-height: 152%;
  letter-spacing: 0.04em;
}
