@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@include keyframes(fade-in) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@include keyframes(fade-out) {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}