.buy-button {
    background: #fff;
    width: 159px;
    height: 44px;
    border-radius: 22px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    color: getColor(dark-pink);
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color $transition-time-timing;

    &--mobile {
        width: 209px;
        margin-left: auto;
        margin-right: auto;

        @include tablet {
            width: 186px;
        }
    }

    &--bar-hidden {
        @include phone {
            display: none;
        }
    }

    &:hover {
        cursor: pointer;
        background: #ECEBEB;
    }

    &__icon-send {
        margin-left: 16px;
        fill: transparent;
        stroke: getColor(dark-pink);

        @include tablet {
            margin-left: 12px;
        }

        @include desktop {
            margin-left: 12px;
        }

    }
}