.buy-button {
    background: #fff;
    width: 159px;
    height: 44px;
    border-radius: 22px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    color: getColor(dark-pink);
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    &--mobile {
        width: 209px;
        margin-left: auto;
        margin-right: auto;
    }

    &--bar-hidden {
        @include phone {
            display: none;
        }
    }

    &:hover {
        cursor: pointer;
        background: #ECEBEB;
    }

    &__icon-send {
        margin-left: 24px;
        fill: #fff;
    }
}