.informationals {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    height: 305px;
    top: 94px;
    right: 34px;
    z-index: 1;
    opacity: 1;
    transition: opacity $transition-time-timing;

    @include phone {
        opacity: 0;
        pointer-events: none;
    }

    &__foto {
        position: absolute;
        bottom: 0;
    }

    &__sites {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.25;
        text-align: right;
        color: #FFFFFF;
        width: 52px;
        position: relative;
        padding-right: 8px;


        &::first-line {
            font-family: 'Titan One';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 1.14;
            text-align: right;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: getColor(dark-pink);
            margin-bottom: 13px;
        }

        &::after {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 0px;
            right: -8px;
            background: #FFFFFF;
            border-radius: 50%;
            z-index: -1;
        }
    }
}