.menu-background {
  position: relative;
  height: 502px;
  width: 100vw;
  background-color: getColor(pinky);
  overflow: hidden;

  &__ice-container {
    position: absolute;
    bottom: 0px;
    right: -19vw;
    height: 419px;
  }

  &__ice {
    position: absolute;
    bottom: 0px;
    left: 81px;
  }

  &__svg {
    position: relative;
    top: 0;
      }

  &__elipse {
    fill: #FFA5BA;
  }
}