.menu-mobile-bar {
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;


    @include tablet {
        padding: 37px 34px 0;
    }

    @include desktop {
        display: none;
    }

    &__container {
        width: fit-content;

        @include tablet {
            width: 210px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}