.menu-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 18px;

  @include desktop {
    flex-direction: row;
    margin-left: 0;
    gap: 50px;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    color: getColor(ordinary-font);
    line-height: $line-height-for-font-14;
    font-size: 14px;
    letter-spacing: 0.02em;
    flex-basis: content;
    transition: color $transition-time-timing;
    height: 16px;

    &:focus,
    &:hover {
      color: getColor(highlighter);
    }

    &:visited {
      color: inherit;
    }
  }

  &__icon {
    fill: currentColor;
    vertical-align: middle;

    &--phone {
      transform: translateX(-7px);
    }

    &--mail {
      transform: translateX(-10px);
    }
  }
}