.menu-background {
  // position: relative;
  height: 502px;
  background-color: getColor(pinky);
  overflow: hidden;
  transition: height $transition-time-timing;

  @include tablet {
    height: 400px;
  }

  @include desktop {
    height: 665px
  }

  &__ice-container {
    position: absolute;
    bottom: 0px;
    left: 11.25%;
    height: 419px;

    @include tablet {
      height: 368px;
      left: 40.36%;
    }

    @include desktop {
      height: 613px;
      left: 37.10%;
    }
  }

  &__ice {
    position: absolute;
    bottom: 0px;
    left: 81px;

    @include tablet {
      left: 68px;
    }

    @include desktop {
      left: 119px;
    }
  }

  &__svg {
    position: relative;
    top: 0;
    transition: transform $transition-time-timing;

    @include tablet {
      width: 324px;
      height: 322px;
      // transform: scale(0.936);
    }

    @include desktop {
      width: 538px;
      height: 538px;
      // transform: scale(1.555);
    }
  }

  &__elipse {
    fill: #FFA5BA;
  }
}

.container--menu-background {
  position: relative;
  height: inherit;
  padding: 0;
  margin: 0 auto;
}