.milk-info {
    position: absolute;
    width: 234px;
    height: 126px;
    bottom: 28px;
    left: 34px;
    z-index: 1;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include phone {
        opacity: 0;
        pointer-events: none;
    }

    @include desktop {
        width: 416px;
        height: 191px;
        bottom: 45px;
        left: 77px;
        bottom: 45px;
    }

    &__photo {
        position: absolute;
        left: 0;
        display: block;
        z-index: -1;
    }

    &__text {
        padding-top: 47px;
        padding-left: 120px;
        font-family: "DM Sans";
        font-weight: 400;
        font-size: 8px;
        line-height: 1.5;
        color: #fff;

        @include desktop {
            font-size: 14px;
            line-height: 1.42;
            padding-left: 218px;
            padding-top: 56px;
        }

    }

    &__button {
        display: block;
        background-color: #fff;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        border: 0;
        margin-left: 120px;
        margin-top: 7px;
        padding: 0;

        &:hover {
            cursor: pointer;
        }

        @include desktop {
            width: 24px;
            height: 24px;
            margin-left: 218px;
            margin-top: 20px;
        }
    }

    &__icon {
        display: block;
        width: inherit;
        height: inherit;
        margin: auto;
    }

}