.toggle-button {
    width: 20px;
    height: 12px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: getColor(pinky);
    stroke: getColor(dark-pink);

    &:active {
        stroke: getColor(dark-pink);
    }

    &:visited {
        stroke: getColor(dark-pink);
    }


    &__icon {
        margin: auto;

        &--close {
            stroke: #FFF;
            background-color: getColor(pinky);
        }
    }
}