.toggle-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #fff;
    fill: #000;

    &:focus,
    &:hover,
    &:active {
        fill: getColor(highlighter);
    }

    &:visited {
        fill: #000;
    }


    &__icon {
        margin: auto;

    }
}